* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.loader-container {
    display: none;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main-title {
    font-size: 32px;
    color: #efb58c;
}

.list__characters {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin: 0 15px;
}

.list__characters-title {
    color: #6a6868;
}

.list__characters-text {
    color: #efb58c;
}
